body {
  display: flex;
  height: 100%;
}

nav {
  /*display: none;*/
  flex-grow: 0;
  min-width: 10%;
  background-color: #DDD;
  padding-left: 1em;
}

nav li {
  border-style: groove;
  border-width: thin;
  margin: 0.2em;
}

.hiddenMenu {
  display: none;
}

main {
  flex-grow: 1;
  margin: 0 1.2em;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.items {
  flex-grow: 0;
  min-width: 8%;
  background-color: #EEE;
  padding-left: 1em;
}

.items li {
  border-style: solid;
  border-width: thin;
  margin: 0.6em;
  margin-left: 0;
}

header {
  font-family: sans-serif;
  text-align: center;
}
