body {
  display: flex;
}

nav {
  min-width: 15%;
  margin-right: 1em;
}

nav ul {
  padding: 1em;
  background-color: #CCC;
  list-style-type: none;
}

nav li {
  background-color: #AAA;
  border-style: solid;
  margin: 0.4em;
  width: auto;
  /*overflow: visible;*/
  white-space: nowrap;
}
