.description {
  opacity: 0.4;
  margin: .5em;
  font-size: 14pt;
  font-family: sans-serif;
}

.lightButton {
  background-color: inherit;
  padding: 0 .2em;
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-family: sans-serif;
  overflow: visible;
  white-space: nowrap;
}
